# Gateway
PORT=3000

# JWT
JWT_SECRET=dev-secret-change-in-production

# PostgreSQL (directo para users)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=barber_flow

# Microservicio Staff (Services-Staff)
SERVICES_STAFF_HOST=localhost
SERVICES_STAFF_PORT=3002

# Microservicio Pedidos (Appointments)
SVC_PEDIDOS_HOST=localhost
SVC_PEDIDOS_PORT=3001

# Microservicio Inventory-Billing
SERVICES_INVENTORY_BILLING_HOST=localhost
SERVICES_INVENTORY_BILLING_PORT=3003
