# Gateway
PORT=3000

# Microservicio Pedidos (Orders)
SVC_PEDIDOS_HOST=svc-pedidos
SVC_PEDIDOS_PORT=3001

# Microservicio Staff (Services-Staff)
SERVICES_STAFF_HOST=services-staff
SERVICES_STAFF_PORT=3002
