# Gateway
PORT=3000

# Microservicio Appointments (CRUD + gRPC)
SVC_APPOINTMENTS_HOST=appointments
SVC_APPOINTMENTS_PORT=3001

# Microservicio Staff (Services-Staff)
SERVICES_STAFF_HOST=services-staff
SERVICES_STAFF_PORT=3002

# gRPC stylist validation
SVC_STYLIST_GRPC_HOST=services-staff:50051

# Microservicio Inventory-Billing
SERVICES_INVENTORY_BILLING_HOST=inventory-billing
SERVICES_INVENTORY_BILLING_PORT=3003
